<h2>Purchase Receipts</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Item Component</th>
        </tr>
    </thead>
    <tbody>
        <% @purchase_receipts.each do |purchase_receipt| %>
          <tr>
            <td><%= link_to purchase_receipt.id, purchase_receipt %></td>
            <td><%= link_to purchase_receipt.item_component.name, purchase_receipt.item_component %></td>
          </tr>
        <% end %>
    </tbody>
</table>