<%= link_to 'Home', root_path %>
<h1>Purchase Receipts</h1>
<div><%= link_to 'New Purchase Receipt', new_purchase_receipt_path %></div>
<ul>
  <% @purchase_receipts.each do |purchase_receipt| %>
    <li>
      <p>
        <%= link_to purchase_receipt.item.name, purchase_receipt %>
      </p>
      <p>
        <%= purchase_receipt.created_at %>
      </p>
    </li>
  <% end %>
</ul>