<h2>Items</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Vendor</th>
        </tr>
    </thead>
    <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= link_to item.id, item %></td>
            <td><%= item.name %></td>
            <td><%= link_to item.supplier&.name, item.supplier || "" %></td>
          </tr>
        <% end %>
    </tbody>
</table>