<h2>Item Components</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Vendor</th>
        </tr>
    </thead>
    <tbody>
        <% @item_components.each do |item_components| %>
          <tr>
            <td><%= link_to item_components.id, item_components %></td>
            <td><%= item_components.name %></td>
            <td><%= link_to item_components.supplier&.name, item_components.supplier || "" %></td>
          </tr>
        <% end %>
    </tbody>
</table>