<h2>Sale Receipts</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Item Component</th>
        </tr>
    </thead>
    <tbody>
        <% @sale_receipts.each do |sale_receipt| %>
          <tr>
            <td><%= link_to sale_receipt.id, sale_receipt %></td>
            <td><%= link_to sale_receipt.item.name, sale_receipt.item %></td>
          </tr>
        <% end %>
    </tbody>
</table>