<%= link_to 'Home', root_path %>
<h1>Sale Receipts</h1>
<div><%= link_to 'New sale Receipt', new_sale_receipt_path %></div>
<ul>
  <% @sale_receipts.each do |sale_receipt| %>
    <li>
      <p>
        <%= link_to sale_receipt.item.name, sale_receipt %>
      </p>
      <p>
        <%= sale_receipt.created_at %>
      </p>
    </li>
  <% end %>
</ul>