<%= link_to 'Home', root_path %>
<h1>Furniture Items</h1>
<div><%= link_to 'New Furniture Item', new_furniture_item_path %></div>
<ul>
  <% @furniture_items.each do |item| %>
    <li>
      <p>
        <%= link_to item.name, item %>
      </p>
      <p>
        <%= item.description %>
      </p>
    </li>
  <% end %>
</ul>