<h1>Furniture</h1>
<p>Hello furniture app</p>
<ul>
  <% @furniture_items.each do |item| %>
    <li>
      <p>
        <%= link_to item.name, item %>
      </p>
      <p>
        <%= item.description %>
      </p>
    </li>
  <% end %>
</ul>
<%= link_to 'New Furniture Item', new_furniture_item_path %>