<%= link_to 'Home', root_path %>
<h1>Admin Users</h1>
<%= link_to 'New Admin User', new_user_path %>
<ul>
  <% @admin_users.each do |user| %>
    <p>
      <%= link_to user.email, user %>
    </p>
  <% end %>
</ul>