<h2>Admin Users</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% @admin_users.each do |admin_user| %>
          <tr>
            <td><%= link_to admin_user.id, admin_user %></td>
            <td><%= admin_user.email %></td>
          </tr>
        <% end %>
    </tbody>
</table>