<h2>Organizations</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <td><%= organization.id %></td>
            <td><%= link_to organization.name, organization %></td>
          </tr>
        <% end %>
    </tbody>
</table>