<%= link_to 'Home', root_path %>
<h1>Item Subscribers</h1>
<div><%= link_to 'New Item Subscriber', new_item_subscriber_path %></div>
<ul>
  <% @item_subscribers.each do |item_subscriber| %>
    <li>
      <p>
        <%= link_to item_subscriber.name, item_subscriber %>
      </p>
      <p>
        <%= item_subscriber.description %>
      </p>
    </li>
  <% end %>
</ul>