<h2>Suppliers</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= supplier.id %></td>
            <td><%= link_to supplier.name, supplier %></td>
          </tr>
        <% end %>
    </tbody>
</table>